/* Vars autocomplete */

:root {
  --color-bg: rgb(255, 255, 255);
  --color-bg-content: rgba(255, 255, 255, 0.8);
  --color-text: #333;
  --color-hover: rgb(117, 117, 117);
  --shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px,
  rgba(0, 0, 0, 0.07) 0px 2px 4px, rgba(0, 0, 0, 0.07) 0px 4px 8px,
  rgba(0, 0, 0, 0.07) 0px 8px 16px, rgba(0, 0, 0, 0.07) 0px 16px 32px,
  rgba(0, 0, 0, 0.07) 0px 32px 64px;

  --radius: .25rem;
  --color-bg-hover-close: rgba(0, 0, 0, 0.07);
}

.dark {
  --color-bg: rgb(33, 33, 33);
  --color-bg-content: rgba(61, 61, 61, 0.8);
  --color-text: rgb(245, 245, 245);
  --color-hover: rgb(197, 197, 197);

  --color-bg-hover-close: rgba(255, 255, 255, 0.07);
}

/* Toast styles */

.t-actions {
  bottom: 1rem;
  left: 1.5rem;
  position: absolute;
}

.t-actions * {
  transition-duration: 250ms;
  transition-property: background-color, border-color, color, fill, stroke;
}

.t-container {
  border-radius: 0.5rem;
  box-shadow: var(--shadow);
  font-family: var(--font-system);
  margin-bottom: 1rem;
  position: relative;
  width: 300px;
  z-index: 9999;
}

.t-close {
  background: transparent;
  border-radius: var(--radius);
  border: none;
  color: var(--color-text);
  cursor: pointer;
  font-size: .90em;
  font-weight: bold;
  line-height: 0rem;
  padding: 12px 6px;
}

.t-close:hover {
  background-color: var(--color-bg-hover-close);
  color: var(--color-hover);
}

.t-header {
  align-items: center;
  background-color: var(--color-bg);
  border-start-end-radius: 0.5rem;
  border-start-start-radius: 0.5rem;
  display: flex;
  font-size: 1em;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}

.t-header__main {
  align-items: center;
  color: var(--color-text);
  display: flex;
  font-size: 1em;
  font-weight: bold;
  gap: .5rem;
}

.t-status {
  border-radius: 50%;
  height: 15px;
  width: 15px;
  margin-left: 1px;
}

.t-status--error {
  background-color: red;
}

.t-status--warning {
  background-color: orange;
}

.t-status--info {
  background-color: blue;
}

.t-status--success {
  background-color: limegreen;
}

.t-message {
  backdrop-filter: blur(5px);
  background-color: var(--color-bg-content);
  border-end-end-radius: 0.5rem;
  border-end-start-radius: 0.5rem;
  font-size: 0.9em;
  overflow-x: auto;
  padding: 0.5rem;
}

.t-message::-webkit-scrollbar {
  display: none;
}

@keyframes t-fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes t-fade-out {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
